
.menu-item{
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 12px 18px 12px 16px;
    cursor: pointer;
    &:hover {
        background-color: #ffffff;
    }
}
.select-menu-item {
    background-color: #EFF6FF !important;
    color: #2563EB !important;
    .icon-header{
        color: #2563EB;
    }
}

.icon-header{
    font-size: 24px;
    line-height: 24px;
    margin-right: 12px;
}