<div class="app-login">
    <div class="login-container">
        <div class="login-card">
            <div class="login-header">
                <h2>Sign In</h2>
                <p>Enter your credentials to access your account</p>
            </div>

            <form class="login-form" id="loginForm" novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="form-group w-100" appearance="outline">
                    <mat-label>{{'login.username' | translate}}</mat-label>
                    <input matInput placeholder="Enter username..." formControlName="username">

                    @if (loginForm.controls['username'].hasError('required')) {
                    <mat-error>{{'login.please-enter' | translate}}</mat-error>
                    }

                </mat-form-field>

                <mat-form-field class="form-group w-100" appearance="fill">
                    <mat-label>{{'login.password' | translate}}</mat-label>
                    <input matInput placeholder="Enter password..." formControlName="password">
                    @if (loginForm.controls['password'].hasError('required')) {
                    <mat-error>{{'login.please-enter' | translate}}</mat-error>
                    }
                </mat-form-field>

                <div class="form-options">
                    <mat-checkbox class="example-margin" formControlName="remember">{{'login.remember-me' |
                        translate}}</mat-checkbox>
                    <a href="#">{{'login.forgot-password' | translate}}</a>
                </div>

                <button mat-flat-button class="w-100" (click)="login()">{{'login.login' | translate}}</button>
            </form>

            <div class="signup-link mt-3">
                <p>{{'login.have-no-account' | translate}}<a href="#" class="ms-3">{{'login.create-one' |
                        translate}}</a></p>
            </div>
        </div>
        <button mat-raised-button class="me-3" (click)="switchLang('vi')">VN</button>
        <button mat-raised-button class="me-3" (click)="switchLang('en')">EN</button>
        <button mat-raised-button (click)="logOut()">Log out</button>
    </div>
</div>