.header {
    display: flex;
    justify-content: space-between;
    background: #FFFFFFFF;
    border-bottom: 1px solid #E5E7EB80;
    height: 80px;
    position: fixed;
    left: 0;
    right: 0;
    padding: 32px;
    cursor: pointer;
    z-index: 999;
}

.icon-header{
    font-size: 24px;
    line-height: 24px;
    color: #2563EB;
}

.header-left {
    display: flex;
    align-items: center;

    .toggle-nav-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        background-color: #f5f8ff;
        border-radius: 8px;
    }

    .logo-header {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 140px;
            height: 100%;
        }
    }
}


.logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 70px;
    img{
        width: 64px;
    }
}


.header-right {
    display: flex;
    align-items: center;
    .noti {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .user-profile {
        display: flex;
        align-items: center;
        position: relative;
        padding: 8px 12px;
        border-radius: 4px;
        color: #040d1f;
        .user-avatar {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            object-fit: cover;
        }
        .info{
            display: flex;
            flex-direction: column;
            padding: 0px 12px;
        }
        .color-role{
            color: #9ba5b6;
        }

    }
}
::ng-deep.mat-mdc-menu-content{
    background-color: #ffffff;
    border-radius: 8px;
    min-width: 250px;
}
::ng-deep.mat-mdc-menu-item:not([disabled]):hover {
    background-color: #f4f8ff !important;
}
.color-sematic{
    color: #ea1c2d !important;
}